{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <p class="text-left"><img src="https://desi.lbl.gov/trac/chrome/site/NewDM_SpectroScopic_logo.jpg" width="150" height="150" class="img-fluid mx-auto"></p>`
    <h1 class="text-center">External Collaboration Proposals</h1>
    <head>
        <title>List of proposals</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}
    </body>
</html>
